.marquee-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 4s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  margin-right: 2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}
